* {
box-sizing:border-box
}

html,body {
height:100%
}

body {
background-color:#efeee7;
background-image:url(../images/circles-light.png);
color:#777;
display:flex;
flex-direction:column;
font-family:'Arial','Helvetica Neue',Helvetica,sans-serif;
font-size:100%;
height:100vh;
line-height:150%;
margin:0;
padding:0
}

h1,h2,h3,h4,h5,h6 {
color:#4aaaa5;
font-family:'Georgia',Times,Times New Roman,serif;
margin:0
}

h1 {
background:#4aaaa5;
color:#fff;
float:left;
font-size:28px;
padding:30px;
text-align:center
}

h2 {
border-bottom:2px solid #ccc;
font-size:24px;
padding-bottom:24px;
width:580px
}

h3 {
border-bottom:2px solid #ccc;
padding-bottom:20px;
width:205px
}

h4 {
background:#4aaaa5;
color:#fff;
font-size:1.3em;
font-weight:400;
padding:15px;
position:absolute;
text-align:center;
top:142px;
width:100%
}

button,input,select,textarea {
font-family:inherit;
font-size:100%
}

input {
font-size:85%;
margin:5px 0;
padding:12px 15px;
width:580px
}

button {
background:#4aaaa5;
border:0;
margin:10px 0;
padding:10px 30px
}

textarea {
border-color:#ddd;
height:200px;
margin:5px 0;
width:580px
}

header {
background:#fff;
border-bottom:2px solid #ccc;
width:100%
}

a:link {
color:#777;
text-decoration:none
}

a:visited {
color:#000;
text-decoration:none
}

a:hover {
color:#000;
text-decoration:underline
}

a:active {
color:#fff;
text-decoration:underline
}

ul.nav {
background:#fff;
float:right;
margin:0;
padding:24px 0;
text-align:center
}

ul.nav li {
display:inline-block;
padding:5px
}

footer {
background:#666;
border-top:6px solid #4aaaa5;
color:#a9a9a9;
font-size:.7em;
line-height:80px;
text-align:center
}

#navbar {
margin:0 auto;
width:960px
}

#main-bio,#contact-info {
border:1px solid #ddd;
float:left;
margin:24px 0 0
}

#main-bio {
background:#fff;
padding:30px 0 30px 30px;
width:650px
}

#bio-image {
float:left;
height:200px;
margin-right:22px;
margin-top:22px;
width:200px
}

#contact-info {
background:#fff;
float:right;
padding:30px 0 30px 30px;
width:270px
}

.icon-image {
height:60px;
margin-right:10px;
width:60px
}

.container {
flex:1 0 auto;
margin:0 auto 24px;
padding:0;
width:960px
}

.footer {
flex-shrink:0;
height:80px;
padding:0 60px
}

.portfolio-box {
background-color:#666;
float:left;
height:205px;
margin:0 30px 30px 0;
overflow:hidden;
width:275px
}

.image {
position:relative;
width:100%
}

.img_shift {
margin-left:-90px;
margin-top:-90px
}

.parapad {
padding-right:30px
}

::-webkit-input-placeholder {
color:#a9a9a9
}

::-moz-placeholder {
color:#a9a9a9
}

:-ms-input-placeholder {
color:#a9a9a9
}

:-moz-placeholder {
color:#a9a9a9
}